  .header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: start;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
    }

.header-content {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.description {
  margin: 0;
  margin-top: 5px;
}

.logo {
  color: white;
  background-color: black;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}